@import './fonts.scss';

$main-font: 'Open Sans', sans-serif;
$title-font: 'Playfair Display', serif;

$main-font-size: 24px;
$second-font-size: 18px;
$title-font-size: 64px;

$green: #07484A;
$light-green: #70908B;
$white: #FDFBF8;
$pure-white: #fff;